@import url('reset.css');
:root {
    --baby: #B7D3F2;
    --max: #AFAFDC;
    --med: #8A84E2;
    --fren: #84AFE6;
    --aero: #79BEEE;
    --shadow: rgba(0, 0, 0, 0.6)
}
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--baby);
}
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    height: 1600px;
}
section {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    background: linear-gradient(90deg, var(--med), var(--max));
    border-radius: 20px;
    box-shadow: 2px 2px 8px var(--shadow);
    width: 450px;
    height: 300px
}